div(class='modal-content')
  div(class='modal-close-container') 
    span(class='modal-close' onclick='hideAttributes()') &times;
  div(id='attributes-content')
    h5(id='table-header')
    div(id='table-description')
    h5 Column description
    div(id='column-description')
  p
    small 
      em &#9888;non-numeric columns are filtered out