# user data
/data_from_browser/*
/geoserver_data_dir/data/*
/geoserver_data_dir/gwc/tmp
/geoserver_data_dir/gwc-layers
/geoserver_data_dir/logs/geoserver.log*
/geoserver_data_dir/security
/grass/global/*
/grass/metadata/*
/grass/variables/*
!/grass/variables/defaults
/output/*

# Node.js dependencies
node_modules

# build folders
dist