# runtime files
/data_from_browser
/data_to_client
temp_*
launch_locked

# user data
/geoserver_data/*
!/geoserver_data/workspaces
!/geoserver_data/logging.xml
/grass/global
/grass/skel

# Node.js dependencies
node_modules
