# runtime files
/data_from_browser/*

# user data
/geoserver_data_dir/data/*
/geoserver_data_dir/logs/geoserver.log*
/grass/global/*
/grass/variables/*
!/grass/variables/defaults
/maps/*
/output/*

# Node.js dependencies
node_modules
