h2(class="sub-content" leaflet-browser-print-content-serviceArea) Service Approach Area
table(id='service-area-output-legend' class="service-area-result" style= "height: auto" leaflet-browser-print-pages-serviceArea)