
div(id='map')
div(id='north-arrow' class='info legend'): img(src='images/north.png')

a(href='#' id='save'): button(class='button1' onclick='save()') Save
a(href='#' id='close'): button(class='button1' onclick='close()') Submit
