#map {
  height: 100%;
  width: 100%;
}

#save {
  position: absolute;
  top: 180px;
  left: 0;
  margin: 10px;
  z-index: 1000;
}

.leaflet-control-layers-group-name, .leaflet-legend-layer-name {
  font-weight: bold;
  margin-bottom: .2em;
  margin-left: 3px;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}

#leaflet-legend-container {
  min-width: 300px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: white;
  overflow-x: hidden;
}

.leaflet-legend-item {
  padding: 10px 10px
}