#map {
  height: 100%;
  width: 100%;
}

#save {
  position: absolute;
  top: 180px;
  left: 0;
  margin: 10px;
  z-index: 1000;
}

.leaflet-control-layers-group-name, .leaflet-legend-layer-name {
  font-weight: bold;
  margin-bottom: .2em;
  margin-left: 3px;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-scrollbar {
  overflow-y: hidden;
  padding-right: 10px;
}

#leaflet-legend-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#leaflet-legend-content {
  min-width: 50vw;
  max-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.leaflet-legend-item {
  padding: 10px 10px
}

.leaflet-control-layers-list {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 20vh;
}