#map {
  height: 100%;
  width: 100%;
}

#save {
  position: absolute;
  top: 180px;
  left: 0;
  margin: 10px;
  z-index: 1000;
}

/* Leaflet customization */

.leaflet-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.leaflet-control-container .leaflet-top.leaflet-right {
  height: 100%;
}

/* Zoom + draw control */

.leaflet-bar a,
.leaflet-bar a:hover {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  /* font-size: 2rem !important; */
  font-weight: normal !important;
}

.leaflet-draw-toolbar a {
  background-size: 400px 40px !important;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon,
.leaflet-draw-toolbar .leaflet-draw-draw-polygon.leaflet-disabled {
  background-position: -40px 0px !important;
}

.leaflet-draw-toolbar .leaflet-draw-draw-circlemarker,
.leaflet-draw-toolbar .leaflet-draw-draw-circlemarker.leaflet-disabled {
  background-position: -360px 0px !important;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit,
.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
  background-position: -200px 0px !important;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove,
.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
  background-position: -240px 0px !important;
}

.leaflet-draw-actions {
  left: 40px !important;
}

.leaflet-draw-actions a {
  font: inherit !important;
}

.leaflet-draw-actions-top a,
.leaflet-draw-actions-bottom a {
  height: 40px !important;
  line-height: 40px !important;
}

/* Layer control */

.leaflet-control-layers {
  width: 280px;
  max-height: calc(100% - 100px);
  overflow: auto;
}

.leaflet-control-layers-group-name {
  font-weight: bold;
}

/* Legend */

#leaflet-legend-title {
  font-weight: bold;
}

#leaflet-legend-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#leaflet-legend-content {
  max-width: 50vw;
  max-height: 30vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.leaflet-legend-item {
  padding: 10px 10px
}

/* Scale line + attribution */

.leaflet-control-scale-line {
  font-size: 0.9rem;
}

.leaflet-container .leaflet-control-attribution {
  font-size: 0.9rem;
}

.leaflet-control-measure h3, .leaflet-measure-resultpopup h3{
  font-size: 0.9rem !important;
}

.leaflet-control-measure p, .leaflet-measure-resultpopup p{
  font-size: 0.8rem !important;
}

.leaflet-control-measure .tasks, .leaflet-measure-resultpopup .tasks {
  font-size: 0.8rem !important;
  text-align: justify !important;
}

/* ShowFeatureInfo  */
.getFeatureClass {
  width: 300px;
}
.getFeatureClass table {
  justify-content: center;
  align-items: center;
  width : 100%
}
.getFeatureClass div {
  overflow:auto;
  max-height: 250px;
}
.getFeatureClass tbody {
  position: relative;
  align-items: stretch;
}
.getFeatureClass tr {
  border: 1px solid black;
  word-break: break-word;
  white-space: pre-line;
}
.getFeatureClass td {
  padding: 5px;
}
.getFeatureClass tr td:first-of-type {
  font-weight: bold;
  border: 1px solid black;
  width:50%;
}
.getFeatureClass p{
  font-weight: bold;
}
