/* @title Time map */

/* @title 0 -- 5 min */
[data > 0] [data < 5] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #009900;
   z-index: 0;
   }
}
/* @title 5 -- 10 min */
[data >= 5] [data < 10] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #00ee00;
   z-index: 0;
   }
}
/* @title 10 -- 20 min */
[data >= 10] [data < 20] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #aaff00;
   z-index: 0;
   }
}
/* @title 20 -- 30 min */
[data >= 20] [data < 30] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #eeff00;
   z-index: 0;
   }
}
/* @title 30 -- 45 min */
[data >= 30] [data < 45] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #eebb00;
   z-index: 0;
   }
}
/* @title 45 -- 60 min */
[data >= 45] [data < 60] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #ff0000;
   }
}
/* @title 60 -- 90 min */
[data >= 60] [data < 90] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #bb0000;
   }
}
/* @title 90 -- 120 min */
[data >= 90] [data < 120] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #ff00aa;
   }
}
/* @title 120 min --  */
[data >= 120] {
  mark: symbol(square);
   :mark {
   size:10;
   fill: #ff66ff;
   }
}