div(class='modal-content')
  div(class='modal-close-container')
    span(class='modal-close' onclick='hideHelp()') &times;
  div(id='help-header')
    h1(class='span-center') #{t['User manual']}
    p contents
