div(id='results-modal-content')
  span(id='results-modal-close' onclick='hide_results()') &times;
  select(id='results-menu' class='select-menu')
  iframe(src="/output/time_map_results_2020-07-27_1214.pdf" width="100%" height="75%")