/* Modal Content/Box */

#results-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 6px;
}

/* The Close Button */

#results-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#results-modal-close:hover, #results-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}