div(class='modal-content')
  div(class='modal-close-container')
    span(class='modal-close' onclick='hideLayers()') &times;
  div(id='layers-header')
    h1(class='span-center') #{t['Layers management']}
    div(class='list-group' id='layer-list')