html
  head
    title Open City Toolkit

    link(rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/lib/leaflet/leaflet.css')
    link(rel='stylesheet' href='/lib/leaflet-draw/leaflet.draw.css')

    script(src='/lib/jquery/jquery.min.js')
    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/leaflet/leaflet.js')
    script(src='/lib/leaflet-draw/leaflet.draw.js')

    style
      include style.css
      include ../map/style.css

  body
    div(class='header')
      div(class='title')
        h1 Open City Toolkit

      div(class='logo')
        img(src='images/giz-logo.gif' id='giz-logo')
        img(src='images/hcu-logo.png' id='hcu-logo')

    div(class='main')
      div(class='sidebar')
        div(id='help' class='card card-buttons row')
          a: button(class='button button-yellow') Help

        div(id='textarea' class='card card-border card-border-yellow')

        div(id='buttonarea' class='card card-buttons row')

        div(id='lists' class='card card-border card-border-yellow')

        div(id='launch' class='card card-border')
          select(id='launch-menu' class='select-menu')
            option(selected value='') Select a module to launch
            option(value='location_selector') Select location
            option(value='resolution_setting') Set resolution
            option(value='add_map') Add map
          a: button(class='button button-green' onclick='launch()') OK

        div(id='maps' class='card card-border')
          select(id='maps-menu' class='select-menu')
            option(selected value='') Select a map to display
          a: button(class='button button-green' onclick='display()') OK

        div(id='query' class='card card-border')
          select(id='query-menu' class='select-menu')
            option(selected value='') Select a map to query
          a: button(class='button button-green' onclick='query()') OK

        div(id='additional' class='card card-border')

      div(id='map-container' class='card')
        include ../map/index.pug

      div(id='info-container' class='card card-border')

      div(id='alert-anchor')

    script.
      const geoserverUrl = '#{geoserverUrl}';
      const [lat, lon] = [#{lat}, #{lon}];
    script
      include script.js
      include ../map/script.js
