html
  head
    title Launch

    link(rel='stylesheet' href='/lib/leaflet/leaflet.css')
    link(rel='stylesheet' href='/lib/leaflet/leaflet.draw.css')
    link(rel='stylesheet' href='/lib/bootstrap/bootstrap.min.css')

    script(src='/lib/jquery/jquery-3.4.1.min.js')
    script(src='/lib/bootstrap/popper.min.js')
    script(src='/lib/bootstrap/bootstrap.min.js')
    script(src='/lib/leaflet/leaflet.js')
    script(src='/lib/leaflet/leaflet.draw.js')
    script(src='/lib/socket.io/socket.io.js')

    style
      include style.css
      include ../map/style.css

  body
    div(class='header')
      div(class='help')
        a: button(class='button') Help

      div(class='title')
        h1 Open City Toolkit

      div(class='logo')
        img(src='images/giz-logo.gif' height='40')
        img(src='images/hcu-logo.png' height='32')

    div(class='main')
      div(class='sidebar')
        div(id='Launch' class='card')
          p Launch a module
          p
            a: button(class='button' onclick='launch(\'location_selector\')') Select location
            a: button(class='button' onclick='launch(\'resolution_setting\')') Set resolution
            a: button(class='button' onclick='launch(\'add_map\')') Add map
          p
            a: button(class='button' onclick='exit()') Exit

        div(id='Display' class='card')
          p Select a map to display
          select(id='Display_menu' class='select_menu')
            option(selected value='') --
            option(value='path_to_display_map_1') Map 1
            option(value='path_to_display_map_2') Map 2
            option(value='path_to_display_map_3') Map 3

        div(id='Query' class='card')
          p Select a map to query
          select(id='Query_menu' class='select_menu')
            option(selected value='') --
            option(value='path_to_query_map_1') Map 1
            option(value='path_to_query_map_2') Map 2
            option(value='path_to_query_map_3') Map 3

        div(id='Module_description' class='card')

      div(id='Map_container' class='card')
        include ../map/index.pug

      div(id='Info' class='card')

    script.
      const geoserverUrl = '#{geoserverUrl}';
      const websocketUrl = '#{websocketUrl}';
      const [lat, lon] = [#{lat}, #{lon}];
    script
      include script.js
      include ../map/script.js
