html
  head
    title Launch

    link(rel='stylesheet' href='/lib/leaflet/leaflet.css')
    link(rel='stylesheet' href='/lib/leaflet/leaflet.draw.css')
    link(rel='stylesheet' href='/lib/bootstrap/bootstrap.min.css')

    script(src='/lib/bootstrap/jquery-3.2.1.slim.min.js')
    script(src='/lib/bootstrap/popper.min.js')
    script(src='/lib/bootstrap/bootstrap.min.js')
    script(src='/lib/leaflet/leaflet.js')
    script(src='/lib/leaflet/leaflet.draw.js')
    script(src='/lib/socket.io/socket.io.js')

    style
      include style.css
      include ../map/style.css

  body
    div(class='main')
      div(class='sidebar' class='card')
        div(id='Launch')
          p Launch a module
          p
            a: button(class='button' onclick='launch(\'location_selector\')') Select location
            a: button(class='button' onclick='launch(\'resolution_setting\')') Set resolution
            a: button(class='button' onclick='launch(\'add_map\')') Add map
          p
            a: button(class='button' onclick='exit()') Exit

        div(id='Display')
          select(id='Display_menu' class='select_menu')
            option(selected value='') -- Select a map to display --
            option(value='path_to_display_map_1') Map 1
            option(value='path_to_display_map_2') Map 2
            option(value='path_to_display_map_3') Map 3

          a: button(class='button' onclick='display()') Select

        div(id='Query')
          select(id='Query_menu' class='select_menu')
            option(selected value='') -- Select a map to query --
            option(value='path_to_query_map_1') Map 1
            option(value='path_to_query_map_2') Map 2
            option(value='path_to_query_map_3') Map 3

          a: button(class='button' onclick='query()') Select

        div(id='Module_description')

      div(id='Map_container' class='card')
        include ../map/index.pug

      div(id='Info' class='card')

    //- A modal with an error message
    div(id='errorModal' class='modal fade' tabindex='-1' role='dialog')
      div(class='modal-dialog' role='document')
        div(class='modal-content')
          div(class='modal-body')
            p(class='modal-body-text') Error message goes here.
          div(class='modal-footer')
            button(type='button' class='btn btn-primary' data-dismiss='modal' onclick='reply(\'ok\')') OK

    //- A modal with a question
    div(id='yesNoModal' class='modal fade' tabindex='-1' role='dialog')
      div(class='modal-dialog' role='document')
        div(class='modal-content')
          div(class='modal-body')
            p(class='modal-body-text') Question goes here.
          div(class='modal-footer')
            button(type='button' class='btn btn-primary' data-dismiss='modal' onclick='reply(\'yes\')') Yes
            button(type='button' class='btn btn-secondary' data-dismiss='modal' onclick='reply(\'no\')') No

    //- A modal with an input field
    div(id='inputModal' class='modal fade' tabindex='-1' role='dialog')
      div(class='modal-dialog' role='document')
        div(class='modal-content')
          div(class='modal-body')
            p(class='modal-body-text') Description goes here.
            p(class='modal-body-input'): input(id='inputModalInput')
          div(class='modal-footer')

    //- A modal with a file upload
    div(id='fileUploadModal' class='modal fade' tabindex='-1' role='dialog')
      div(class='modal-dialog' role='document')
        div(class='modal-content')
          div(class='modal-body')
            p(class='modal-body-text') Description goes here.
            //- p(class='modal-body-input'): input(id='fileUploadModalInput')
          div(class='modal-footer')

    script.
      const geoserverUrl = '#{geoserverUrl}';
      const websocketUrl = '#{websocketUrl}';
      const [lat, lon] = [#{lat}, #{lon}];
    script
      include script.js
      include ../map/script.js
