html
  head
    title Launch

    script(src='/lib/leaflet/leaflet.js')
    script(src='/lib/leaflet/leaflet.draw.js')

    link(rel='stylesheet' href='/lib/leaflet/leaflet.css')
    link(rel='stylesheet' href='/lib/leaflet/leaflet.draw.css')

    style
      include style.css
      include ../map/style.css

  body
    div(id='Launch')
      select(id='Select_menu')
        option(selected value='') -- Select a module to launch --
        option(value='location_selector') Location selector
        option(value='add_layer') Add new layer
        option(value='module_1') Time map
        option(value='module_2') Query a map

      a: button(class='button' onclick='launch()') Launch

    div(id='Display')
      select(id='Display_menu')
          option(selected value='') -- Select a map to display --
          option(value='path_to_display_map_1') Map 1
          option(value='path_to_display_map_2') Map 2
          option(value='path_to_display_map_3') Map 3

      a: button(class='button' onclick='display()') Select

    div(id='Query')
      select(id='Query_menu')
        option(selected value='') -- Select a map to query --
        option(value='path_to_query_map_1') Map 1
        option(value='path_to_query_map_2') Map 2
        option(value='path_to_query_map_3') Map 3

      a: button(class='button' onclick='query()') Select

    div(id='Module_description')
      h3 Legend

    div(id='Map_container')
      include ../map/index.pug

    div(id='Info')

    script.
      const geoserverURL = '#{geoserverUrl}';
      const [lat, lon] = [#{lat}, #{lon}];
    script
      include script.js
      include ../map/script.js
