h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  padding: 5px;
}

.logo img {
  margin: 0 5px 5px;
}

.logo img:first-child {
  margin: 10px 5px 5px;
}

.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 55px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.card {
  margin: 5px;
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 6px;
}

#Launch {
  flex-grow: 1;
}

#Display {
  flex-grow: 1;
}

#Query {
  flex-grow: 1;
}

#Module_description {
  flex-grow: 3;
}

#Map_container {
  flex-grow: 2;
  position: relative;
  overflow-y: hidden;
}

#Info {
  flex-grow: 1;
  font-size: small;
}

.select_menu {
  margin-right: 10px;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #ffffaa;
  border: 3px solid #006600;
  border-radius: 8px;
}

.button {
  margin-right: 10px;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #aaffaa;
  border: 3px solid #006600;
  border-radius: 8px;
}

.button:hover {
  background-color: #ddffdd
}

.button:active {
  background-color: #ffffdd;
  box-shadow: 0 2px #886;
  transform: translateY(2px);
}

#alert-anchor {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2000;
}

.alert {
  margin: 10px;
}