.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.card {
  margin: 5px;
  padding: 10px;
  border: 2px solid darkgreen;
  border-radius: 6px;
}

#Launch {
  flex-grow: 1;
}

#Display {
  flex-grow: 1;
}

#Query {
  flex-grow: 1;
}

#Module_description {
  flex-grow: 3;
}

#Map_container {
  flex-grow: 1;
  position: relative;
  overflow-y: hidden;
}

#Info {
  flex-grow: 1;
  font-size: small;
}

.select_menu {
  margin-right: 10px;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #ffffaa;
  border: 3px solid #006600;
  border-radius: 8px;
}

.button {
  margin-right: 10px;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #aaffaa;
  border: 3px solid #006600;
  border-radius: 8px;
}

.button:hover {
  background-color: #ddffdd
}

.button:active {
  background-color: #ffffdd;
  box-shadow: 0 2px #886;
  transform: translateY(2px);
}
