#Launch {
  position: absolute;
  border: 2px solid darkgreen;
  background-color: #fffdfb;
  width: 15%;
  height: 15%;
  top: 0.5%;
  border-radius: 6px;
}

#Display {
  position: absolute;
  border: 2px solid darkgreen;
  background-color: #fffdfb;
  width: 15%;
  height: 15%;
  top: 16.5%;
  border-radius: 6px;
}

#Query {
  position: absolute;
  border: 2px solid darkgreen;
  background-color: #fffdfb;
  width: 15%;
  height: 15%;
  top: 32.5%;
  border-radius: 6px;
}

#Module_description {
  position: absolute;
  border: 2px solid darkgreen;
  background-color: #fffdfb;
  width: 15%;
  height: 50.5%;
  top: 48.5%;
  border-radius: 6px;
}

#Map_container {
  position: absolute;
  border: 2px solid darkgreen;
  background-color: #fffdfb;
  width: 46%;
  left: 16%;
  height: 98.5%;
  top: 0.5%;
  border-radius: 6px;
  overflow-y: hidden;
}

#Info {
  position: absolute;
  border: 2px solid darkgreen;
  background-color: #fffdfb;
  width: 37%;
  left: 62.5%;
  height: 98.5%;
  top: 0.5%;
  font-size: small;
  border-radius: 6px;
}

#Select_menu {
  position: relative;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #ffffaa;
  border: 3px solid #006600;
  border-radius: 6px;
  top: 10px;
  left: 6px;
}

#Display_menu {
  position: relative;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #ffffaa;
  border: 3px solid #006600;
  border-radius: 6px;
  top: 10px;
  left: 6px;
}

#Query_menu {
  position: relative;
  padding: 10px 14px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #ffffaa;
  border: 3px solid #006600;
  border-radius: 6px;
  top: 10px;
  left: 6px;
}

.button {
  position: relative;
  padding: 10px 14px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #006600;
  background-color: #aaffaa;
  border: 3px solid #006600;
  border-radius: 10px;
  top: 0.5cm;
  left: 6px;
}

.button:hover {
  background-color: #ddffdd
}

.button:active {
  background-color: #ffffdd;
  box-shadow: 0 2px #886;
  transform: translateY(2px);
}