html
  head
    title Select location

    script(src='/lib/leaflet/leaflet.js')
    script(src='/lib/leaflet/leaflet.draw.js')

    link(rel='stylesheet' href='/lib/leaflet/leaflet.css')
    link(rel='stylesheet' href='/lib/leaflet/leaflet.draw.css')

    style
      include style.css

  body
    div(id='map')

    a(href='#' id='saving'): button(class='button1') Save
    a(href='#' id='close'): button(class='button1' onclick='window.close()') Submit

    script
      include script.js
