/* @title Bubaneshwar slums religions */

/* @title Hindu */
[RELIGION = 'Hindu'] {
  stroke: #c8c80b;
  stroke-width: 0.8;
  fill: #ffee88;
  fill-opacity: 1;
}

/* @title Muslim */
[RELIGION ='Muslim'] {
  stroke: #248824;
  stroke-width: 0.8;
  fill: #45bb45;
  fill-opacity: 1;
}

/* @title Christan */
[RELIGION='Christan'] {
  stroke: #aa3333;
  stroke-width: 0.8;
  fill: #ff8888;
  fill-opacity: 1;
}