/* @title Bubaneshwar slums religions */

/* @title Patta */
[LNT_STATU = 'Patta'] {
  stroke: #045716;
  stroke-width: 0.5;
  fill: #12b340;
  fill-opacity: 1;
}

/* @title Possession Certificate/Occupancy Right */
[LNT_STATU = 'Possession Certificate/Occupancy Right'] {
  stroke: #05ba02;
  stroke-width: 0.5;
  fill: #9ef57c;
  fill-opacity: 1;
}

/* @title  Rented */
[LNT_STATU = 'Rented'] {
  stroke: #9f9700;
  stroke-width: 0.5;
  fill: #ffe8a5;
  fill-opacity: 1;
}

/* @title Public Land Enchroched */
[LNT_STATU = 'Public Land Enchroched'] {
  stroke: #aa6666;
  stroke-width: 0.5;
  fill: #ffdddd;
  fill-opacity: 1;
}

/* @title Private Land Encroached */
[LNT_STATU = 'Private Land Encroached'] {
  stroke: #6c0001;
  stroke-width: 0.5;
  fill: #d7191c;
  fill-opacity: 1;
}

/* @title others */
[LNT_STATU = 'others'] {
   stroke: #8888ee;
  stroke-width: 0.5;
  fill: #9999ff;
  fill-opacity: 1;
}