/* @title Roads */
[@scale < 10000000][highway ='motorway'] 
{
  stroke: #cb3900, #ffffcc;
  stroke-width: 8, 4;
  stroke-linecap: round;
  z-index: 1, 2;
}    

[@scale < 10000000][highway ='motorway_link'] {
  stroke: #cb3900, #ffffcc;
  stroke-width: 8, 4;
  stroke-linecap: round;
  z-index: 1, 2;
}    

[@scale < 10000000][highway ='trunk'] 
{
  stroke: #cb3900, #ffffcc;
  stroke-width: 8, 4;
  stroke-linecap: round;
  z-index: 1, 2;
}    

[@scale < 10000000][highway ='trunk_link'] {
  stroke: #cb3900, #ffffcc;
  stroke-width: 8, 4;
  stroke-linecap: round;
  z-index: 1, 2;
}    

[@scale < 1000000][highway='primary'] {
  stroke: #cb3900, #ffffcc;
  stroke-width: 4, 1.5;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 1000000][highway='primary_link'] {
  stroke: #cb3900, #ffffcc;
  stroke-width: 4, 1.5;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 600000][highway='secondary']{
  stroke: #cb3900, #ffffcc;
  stroke-width: 4, 1.5;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 600000][highway='secondary_link']{
  stroke: #cb3900, #ffffcc;
  stroke-width: 4, 1.5;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 250000][highway='tertiary']{
  stroke: #1e1f26, #ffffff;
  stroke-width: 4, 1.5;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 250000][highway='tertiary_link']{
  stroke: #1e1f26, #ffffff;
  stroke-width: 4, 1.5;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 100000][highway='track']{
  stroke: #1e1f26, #ffffff;
  stroke-width: 2.5, 1;
  stroke-linecap: round;
  z-index: 1, 2;
}
[@scale < 100000][highway='unclassified']{
  stroke: #1e1f26, #ffffff;
  stroke-width: 2.5, 1;
  stroke-linecap: round;
  z-index: 1, 2;
}                        
[@scale < 20000][highway='residential']{
  stroke: #1e1f26, #ffffff;
  stroke-width: 2.5, 1;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 15000][highway='service']{
  stroke: #1e1f26, #ffffff;
  stroke-width: 2.5, 1;
  stroke-linecap: round;
  z-index: 1, 2;
}

[@scale < 8000][highway='pedestrian']{
  stroke: #1e1f26;
  stroke-width: 1;
  stroke-linecap: round;
  z-index: 1;
}

[@scale < 8000][highway='footway']{
  stroke: #1e1f26;
  stroke-width: 1;
  stroke-linecap: round;
  z-index: 1;
}

[@scale < 8000][highway='path']{
  stroke: #1e1f26;
  stroke-width: 1;
  stroke-linecap: round;
  z-index: 1;
}